@charset "UTF-8";

html, input, button, h1, h2, h3 {
    /* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
    font-family: "Roboto", "Noto Sans KR", sans-serif;
    -webkit-font-smoothing: antialiased;
}

html, input, button {
    letter-spacing: -.5px;
    word-spacing: 2px;
    work-break:break-all;
}

h1, h2, h3 {
    letter-spacing: -1px;
    margin: 20px 0;
}

@media (max-width :801px) {
    h1, h2, h3 {
        font-size: 1.5rem;
    }
}

.page-title-box {
	margin-top: 30px;
	margin-bottom: 30px;
} 

/* 커스텀 */
.con {
    max-width: 1200px;
}

@media (max-width :1210px) and (min-width :801px) {
    .con {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (min-width :801px) {
    .visible-on-sm-down {
        display: none;
    }
}

@media (max-width :800px) {
    .visible-on-md-up {
        display: none;
    }
}

.outer-box {
    padding-bottom: 10px;
    border-bottom: 5px solid #4BAF4B;
}

@media (min-width :801px) {
    .page-title-box {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .outer-box .loginStatus {
    	margin-top: 10px;
    }
}

@media (max-width :800px) {
    .outer-box {
        padding-left: 10px;
        padding-right: 10px;
        border-bottom: 0;
        padding-bottom: 0;
        margin: 0;
    }

    .page-title-box {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .outer-box .loginStatus {
    	margin: 0;
    }
    .outer-box .loginStatus a {
    	font-size: 0.9rem;
    }
}

.top-bar .logo {
    width: 100px;
}

.top-bar .logo img {
	width: 200px;
    height: 80px; 
}

.top-bar ul li {
	margin:auto;
}

.top-bar ul li a {
	padding: 20px 20px;
	font-size: 1rem;
	white-space:nowrap;
	text-align:center;
	font-weight: bold;
}

.top-bar ul li:hover > a {
	color: #4BAF4B;
}

.mobile-top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 0 5px black;
    padding: 0 10px;
    height: 55px;
    z-index: 10;
}

@media (max-width :800px) {
	.mobile-top-bar {
		margin-bottom: 5px;
		border-bottom: 3px solid #4BAF4B;
	}
}

.mobile-top-bar .logo {
    width: 50px;
}

.mobile-top-bar .logo img {
	height:50px;
	width: 80px;
}

.mobile-top-bar a {
    margin-right: 10px;
}

.mobile-top-bar a:last-child {
    margin-right: 0;
}

.mobile-top-bar a > i {
    font-size: 1.5rem;
}

.mobile-top-bar .btn-toggle-mobile-side-bar {
    position: relative;
}

.mobile-top-bar .btn-toggle-mobile-side-bar>:first-child {
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.mobile-side-bar-actived .mobile-top-bar .btn-toggle-mobile-side-bar>:last-child {
    visibility: hidden;
}

.mobile-side-bar-actived .mobile-top-bar .btn-toggle-mobile-side-bar>:first-child {
    display: flex;
}

.mobile-side-bar {
    background-color: white;
    position: fixed;
    width: 100%;
    left: 100%;
    top: 55px;
    bottom: 0;
    transition: left .3s;
    z-index: 9;
}

.mobile-side-bar-actived .mobile-side-bar {
    left: 0;
}

.mobile-side-bar li:hover > a {
	color: #4BAF4B;
}

.mobile-side-bar .menu-box-1 > ul > li > a {
    padding: 20px 0;
    font-weight: bold;
}

@media (max-width :800px) {

    .mobile-side-bar-actived,
    .mobile-side-bar-actived>body {
        overflow: hidden;
    }

    body {
        padding-top: 60px;
    }
}

.table-first-col {
    width: 100px;
}

.table-first-col-tight {
    width: 100px;
}

@media (max-width :800px) {
    .table-first-col {
        width: 65px;
    }

    .table-first-col-tight {
        width: 30px;
    }
}

.popup-1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 20;
}

.popup-1>div {
    border: 1px solid #787878;
    overflow-y: auto;
    max-height: 100vh;
    padding: 10px;
    box-sizing: border-box;
    max-width: 1200px;
    width: 100%;
    background-color: white;
}

.loading-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 1000;
}

.loading-box-actived,
.loading-box-actived>body {
    overflow: hidden;
}

.loading-box-actived .loading-box {
    display: flex;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

/* body */
@media (max-width :801px) {
	body {
		margin-right: 5px;
		margin-left: 5px;
	}
}

/* main-covid */
.main-covid19-box {
	width: 100%;
}

.covid19-counter {
	width:99%; 
	font-size: 1.3rem;
	text-align: center;
	font-weight: bold;
}

.covid19-counter em {
	font-weight: normal;
}

.covid19-reg {
	color: red;
	font-size: 0.8rem;
}

@media (min-width :1130px) {
    .covid19-counter .box1, .box2 {
		display: inline-block;
		border: 5px solid #4BAF4B;
		border-radius: 5px;
		width: 48.8%;
	}
	.covid19-counter .data {
		padding: 5px;
	}
	.covid19-counter .head-info {
		color:red; 
		font-size: 1rem;
	}
	.covid19-counter h3 {
		text-align: left;
		font-size: 1.3rem;
		margin: 5px 0 2px 0;
	}
}

@media (max-width :1130px) {
    .covid19-counter .box1, .box2 {
		border: 5px solid #4BAF4B;
		border-radius: 5px;
		width: 98%;
		font-size: 0.8rem;
	}
	.covid19-counter .box2 {
		margin-top: 5px;
	}
	.covid19-counter .data {
		padding: 5px 0;
	}
	.covid19-counter .head-info {
		color:red; 
		font-size: 0.7rem;
	}
	.covid19-counter h3 {
		text-align: left;
		font-size: 1.2rem;
		margin-bottom: 2px;
		margin: 7px 0 2px 0;
	}
}


.covid19-counter .box-head {
	display: block;
	padding: 10px 0;
	border-bottom: 5px solid #4BAF4B;
}

.covid19-counter {
	margin-bottom: 10px;
}

.covid19-counter .data {
	display: inline-block;
	width: 30%;
}

.covid19-counter .data:not(:last-child) {
	border-right: 3px dashed #4BAF4B;
}

.covid19-counter .data > span, em {
	display: block;
	padding: 7px 0;
}

/* detail */
@media (min-width :801px) {
   	.article-detail-box > table th {
		text-align: center;
	}
}

/* 카카오 */
@media (max-width :801px) {
    .kakaoMap-box {
        display: block;
    }
    .kakaoMap-box .kakaoMap {
    	height: 300px;
    	margin-bottom: 10px;
    }
    .kakaoMap-box .kakaoMap-info {
    	height: 300px;
    }
    
    .kakaoMap-box .kakaoMap-info a {
    	 font-size: 0.8rem;
    }
    .cateItem {
    	font-size: 1rem;
    }
}

.kakaoMap {
	width:100%; 
	height:650px; 
	border: 2px solid green; 
	margin-right: 10px;
}
.kakaoMap-info {
	width:100%; 
	height:650px; 
	overflow:auto; 
	border: 2px solid green;
	text-indent: 1rem;
}

.administrative-district {
	margin-bottom: 20px;
}

.administrative-district div {
	font-weight:bold; 
	font-size: 1.5rem;
}

.administrative-district ul {
	background-color: #4BAF4B;
	border-radius: 10px;	
	width: 100%;
	padding: 10px 0px;
	margin: 5px 0 7px 0;
	text-align: center;
}

.administrative-district ul li {
	color: white;
	text-align: center;
}
.administrative-district ul li:hover {
	color: black;
}


@media (max-width :801px) {
    .administrative-district ul li a {
    	font-size: 0.8rem;
    	margin-left: 5px;
    }
}

@media (min-width :801px) {
	.administrative-district ul li a {
		padding:10px 5px;
		font-size: 1rem;
		margin-left: 5px;
	}
}
	
.administrative-district select {
	padding: 5px;
}

.cateItem select {
	margin-bottom: 10px;
	padding: 5px;
}

.cateItem .refresh {
	margin-left: 5px;
	margin-bottom: 10px;
	padding: 5px;
	cursor: pointer;
	font-size: 1.2rem;
}

.cateItem .refresh:hover {
	color: #4BAF4B;
}

.cateItem ul li a{
	padding:10px 5px;
	font-size: 1rem;
	margin-left: 5px;
}

@media (max-width :801px) {
	.map_marker {
		padding: 10px;
		width: auto;
		min-width: 300px;
		max-width: 400px;
	}
	.map_marker_header {
		font-size: 1rem;
		font-weight:bold;
	}
	.map_marker nav {
		padding: 3px 0;
		font-size: 0.7rem;
		overflow: auto;
	}
}

@media (min-width :801px) {
	.map_marker {
		padding: 20px;	
		min-width: 300px;	
	}
	.map_marker_header {
		font-size: 1.2rem;
		font-weight:bold;
	}
	.map_marker nav {
		padding: 3px 0;
		text-indent: 1rem;
	}
}


/* ALL 카카오맵 관련 */
.map_wrap, .map_wrap * {
	margin:0; 
	padding:0;
	font-family:'Malgun Gothic',dotum,'돋움',sans-serif;
	font-size:12px;
}
.map_wrap {
	position:relative;
	width:100%;
}
#category {
	position:absolute;
	top:10px;
	left:10px;
	border-radius: 5px; 
	border:1px solid #909090;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
	background: #fff;
	overflow: hidden;
	z-index: 2;
}
#category li {
	float:left;
	list-style: none;
	width:50px;
	border-right:1px solid #acacac;
	padding:6px 0;
	text-align: center; 
	cursor: pointer;
}
#category li.on {
	background: #eee;
}
#category li:hover {
	background: #ffe6e6;
	border-left:1px solid #acacac;
	margin-left: -1px;
}
#category li:last-child{
	margin-right:0;
	border-right:0;
}
#category li span {
	display: block;
	margin:0 auto 3px;
	width:27px;
	height: 28px;
}
#category li .category_bg {
	background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_category.png) no-repeat;
}
#category li .hospital {
	background-position: -10px 0;
}
#category li .pharmacy {
	background-position: -10px -36px;
}
#category li .parking {
	background-position: -10px -72px;
}
#category li.on .category_bg {
	background-position-x:-46px;
}
.placeinfo_wrap {
	position:absolute;
	bottom:28px;
	left:-150px;
	width:300px;
}
.placeinfo {
	position:relative;
	width:100%;
	border-radius:6px;
	border: 1px solid #ccc;
	border-bottom:2px solid #ddd;
	padding-bottom: 10px;
	background: #fff;
}
.placeinfo:nth-of-type(n) {
	border:0; 
	box-shadow:0px 1px 2px #888;
}
.placeinfo_wrap .after {
	content:'';
	position:relative;
	margin-left:-12px;
	left:50%;
	width:22px;
	height:12px;
	background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}
.placeinfo a, .placeinfo a:hover, .placeinfo a:active{
	color:#fff;
	text-decoration: none;
}
.placeinfo a, .placeinfo span {
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.placeinfo span {
	margin:5px 5px 0 5px;
	cursor: default;
	font-size:13px;
}
.placeinfo .title {
	font-weight: bold; 
	font-size:14px;
	border-radius: 6px 6px 0 0;
	margin: -1px -1px 0 -1px;
	padding:10px; color: #fff;
	background: #d95050;
	background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;
}
.placeinfo .tel {
	color:#0f7833;
}
.placeinfo .jibun {
	color:#999;
	font-size:11px;
	margin-top:0;
}
