@charset "UTF-8";

html, input, button, h1, h2, h3 {
    /* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
    font-family: "Roboto", "Noto Sans KR", sans-serif;
    -webkit-font-smoothing: antialiased;
}

html, input, button {
    letter-spacing: -.5px;
    word-spacing: 2px;
    work-break:break-all;
}

h1, h2, h3 {
    letter-spacing: -1px;
    margin-bottom: 10px;
}

@media (max-width :801px) {
    h1, h2, h3 {
        font-size: 1.5rem;
    }
}

.page-title-box {
	margin-top: 30px;
	margin-bottom: 30px;
} 

/* 커스텀 */
.con {
    max-width: 1200px;
}

@media (max-width :1210px) and (min-width :801px) {
    .con {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (min-width :801px) {
    .visible-on-sm-down {
        display: none;
    }
}

@media (max-width :800px) {
    .visible-on-md-up {
        display: none;
    }
}

.outer-box {
    padding-bottom: 10px;
    border-bottom: 5px solid #4BAF4B;
    margin-bottom: 10px;
}

@media (min-width :801px) {
    .outer-box {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .page-title-box {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width :800px) {
    .outer-box {
        padding-left: 10px;
        padding-right: 10px;
        border-bottom: 0;
        margin-bottom: 0;
    }

    .page-title-box {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.top-bar .logo {
    width: 100px;
}

.top-bar .logo img {
	width: 200px;
    height: 80px; 
}

.top-bar ul li {
	margin:auto;
}

.top-bar ul li a {
	padding: 20px 20px;
	font-size: 1rem;
	white-space:nowrap;
	text-align:center;
	font-weight: bold;
}

.top-bar ul li:hover > a {
	color: #4BAF4B;
}

.mobile-top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 0 10px black;
    padding: 0 10px;
    height: 55px;
    z-index: 10;
}

.mobile-top-bar .logo {
    width: 50px;
}

.mobile-top-bar .logo img {
	height:50px;
	width: 80px;
}

.mobile-top-bar a {
    margin-right: 10px;
}

.mobile-top-bar a:last-child {
    margin-right: 0;
}

.mobile-top-bar a > i {
    font-size: 1.5rem;
}

.mobile-top-bar .btn-toggle-mobile-side-bar {
    position: relative;
}

.mobile-top-bar .btn-toggle-mobile-side-bar>:first-child {
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.mobile-side-bar-actived .mobile-top-bar .btn-toggle-mobile-side-bar>:last-child {
    visibility: hidden;
}

.mobile-side-bar-actived .mobile-top-bar .btn-toggle-mobile-side-bar>:first-child {
    display: flex;
}

.mobile-side-bar {
    background-color: white;
    position: fixed;
    width: 100%;
    left: 100%;
    top: 55px;
    bottom: 0;
    transition: left .3s;
    z-index: 9;
}

.mobile-side-bar-actived .mobile-side-bar {
    left: 0;
}

.mobile-side-bar li:hover > a {
	color: #4BAF4B;
}

.mobile-side-bar .menu-box-1 > ul > li > a {
    padding: 20px 0;
    font-weight: bold;
}

@media (max-width :800px) {

    .mobile-side-bar-actived,
    .mobile-side-bar-actived>body {
        overflow: hidden;
    }

    body {
        padding-top: 60px;
    }
}

.table-first-col {
    width: 100px;
}

.table-first-col-tight {
    width: 100px;
}

@media (max-width :800px) {
    .table-first-col {
        width: 65px;
    }

    .table-first-col-tight {
        width: 30px;
    }
}

.popup-1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 20;
}

.popup-1>div {
    border: 1px solid #787878;
    overflow-y: auto;
    max-height: 100vh;
    padding: 10px;
    box-sizing: border-box;
    max-width: 1200px;
    width: 100%;
    background-color: white;
}

.loading-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 1000;
}

.loading-box-actived,
.loading-box-actived>body {
    overflow: hidden;
}

.loading-box-actived .loading-box {
    display: flex;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

/* body */
@media (max-width :801px) {
	body {
		margin-right: 10px;
		margin-left: 10px;
	}
}

/* main */
.main-img-box {
	width: 100%;
}

.main-img {
	width:100%; 
	height: 350px; 
	font-size: 1.5rem;
	font-weight: bold;
	background-color: #4BAF4B;
	margin: auto;
	padding: 5px 20px;
	border-radius: 5px;
}

@media (max-width :801px) {
    .main-img {
        font-size: 1rem;
        height: 250px;
    }
}

/* detail */
@media (min-width :801px) {
   	.article-detail-box > table th {
		text-align: center;
	}
}

/* 카카오 */
@media (max-width :801px) {
    .kakaoMap-box {
        display: block;
    }
    .kakaoMap-box .kakaoMap {
    	height: 300px;
    	margin-bottom: 10px;
    }
    .kakaoMap-box .kakaoMap-info {
    	height: 300px;
    }
    
    .kakaoMap-box .kakaoMap-info a {
    	 font-size: 0.8rem;
    }
    .cateItem {
    	font-size: 1rem;
    }
}

.kakaoMap {
	width:100%; 
	height:650px; 
	border: 2px solid green; 
	margin-right: 10px;
}
.kakaoMap-info {
	width:100%; 
	height:650px; 
	overflow:auto; 
	border: 2px solid green;
	text-indent: 1rem;
}

.administrative-district {
	margin-bottom: 20px;
}

.administrative-district div {
	font-weight:bold; 
	font-size: 1.5rem;
}

.administrative-district ul {
	background-color: #4BAF4B;
	border-radius: 10px;	
	width: 100%;
	padding: 10px 0px;
	margin: 5px 0 7px 0;
	text-align: center;
}

.administrative-district ul li {
	color: white;
	text-align: center;
}
.administrative-district ul li:hover {
	color: black;
}


@media (max-width :801px) {
    .administrative-district ul li a {
    	font-size: 0.8rem;
    	margin-left: 5px;
    }
}

@media (min-width :801px) {
	.administrative-district ul li a {
		padding:10px 5px;
		font-size: 1rem;
		margin-left: 5px;
	}
}
	
.administrative-district select {
	padding: 5px;
}

.cateItem select {
	margin-bottom: 10px;
	padding: 5px;
}

.cateItem ul li a{
	padding:10px 5px;
	font-size: 1rem;
	margin-left: 5px;
}

@media (max-width :801px) {
	.map_marker {
		padding:5px; 
		width: 250px;
		height: 180px;
	}
	.map_marker_header {
		font-size: 1rem;
		font-weight:bold;
	}
	.map_marker nav {
		padding: 3px 0;
		font-size: 0.7rem;
	}
}

@media (min-width :801px) {
	.map_marker {
		padding:10px; 
		width: 500px;		
	}
	.map_marker_header {
		font-size: 1.2rem;
		font-weight:bold;
	}
	.map_marker nav {
		padding: 3px 0;
		text-indent: 1rem;
	}
}
