@charset "UTF-8";

/* 폰트적용 */
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

@import
	url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

html, input, button, h1, h2, h3 {
  /* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* 노말라이즈 */
body, ul, li, h1 {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

label[for] {
	cursor: pointer;
	user-select: none;
}

/* 라이브러리 */
.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.text-align-center {
	text-align:center;
}

/* PC/모바일 사이즈 관련 if 문 설정 */
@media ( max-width :1210px ) and ( min-width :801px ) {
  .con {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media ( min-width :801px ) {
  .visible-on-sm-down {
    display: none;
  }
}

@media ( max-width :800px ) {
  .visible-on-md-up {
    display: none;
  }
}

.con {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-top-30 {
	margin-top: 30px;
}

.padding-0-10 {
	padding-left: 10px;
	padding-right: 10px;
}

.padding-0-20 {
	padding-left: 20px;
	padding-right: 20px;
}

.padding-10-0 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.padding-20-0 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.bg-white {
	background-color:white;
}

.padding-10 {
	padding:10px;
}

/* 라이브러리 - flex */
*>.flex {
	display: flex;
}

*>.flex-column-nowrap {
	display: flex;
	flex-flow: column nowrap;
}

*>.flex-grow-1 {
	flex-grow: 1;
}

*>.flex-jc-end {
	display: flex;
	justify-content: flex-end;
}

*>.flex-jc-c {
	display: flex;
	justify-content: center;
}

*>.flex-ai-c {
	display: flex;
	align-items: center;
}

*>.flex-row-nowrap {
	flex-direction: row;
	flex-wrap: nowrap;
}

*>.flex-ch-basis-0 {
	display: flex;
}

.flex-ch-basis-0>* {
	flex-basis: 0;
}

*>.flex-1-0-0 {
	flex: 1 0 0;
}

*>.flex-0-0-1 {
	flex: 0 0 1;
}

.page-title-box {
	margin-top: 30px;
	margin-bottom: 30px;
} 

.btn {
	font-size: 1rem;
	line-height: 1rem;
	padding: 10px 15px 7px 15px;
	display: inline-flex;
	font-weight: bold;
	border-radius: 10px;
	outline: 0;
	border: 0;
	cursor: pointer;
	background-color: #3D94F6;
	color: #FFFFFF;
	text-shadow: 1px 1px 20px #000000;
	text-decoration: none;
	margin-right: 10px;
	text-align: center;
}
.btn a {
	width: 100px;
}

.table-box {
	background-color: #4BAF4B; 
	color:white; 
	width: 35%; 
	padding: 20px;
	margin-bottom: 20px;
}

.table-box .form-control-box {
	width: 100%;
}

.table-box tr {
	width: 100%;	
}

.table-box th {
	padding: 10px 0;
	text-indent: 1rem;
	width: 30%;
}

.table-box td {
	padding: 10px 0;
	text-indent: 1rem;
	width: 70%;
}

.table-box input {
	padding: 10px 0;
	text-indent: 1rem;
	width: 95%;
}

.table-box select{
	padding: 10px 0;
	text-indent: 1rem;
	width: 95%;
}

body {
	margin-bottom: 20px;
}

/* 기본 CSS 끝 */

/* head */
.header-top-box {
	background-color: #4BAF4B;
	color: white;
}

.header-top-box>.header-top > ul > li{
	margin:auto;
}

.header-top-box>.header-top > ul > li > a {
	padding: 30px 20px;
	font-size: 1.5rem;
	white-space:nowrap;
	text-align:center;
}

.header-top-box>.header-top > ul > li:hover > a {
	color: black;
}

h1, h2 {
	margin-bottom: 20px;
}

.btn-info {
	display: flex;
	justify-content: center;
	margin: auto;
	width: 100px;
}
/* join */


/* login */


/* findId */

/* main */
.main-article-box {
	margin-top: 10px;
	width:100%;
}
.main-img-box {
	width: 100%;
}
.main-img {
	width:100%; 
	height: 350px; 
	background:url("https://cdn.pixabay.com/photo/2020/08/03/09/39/medical-5459633_960_720.png") no-repeat;
	background-size: cover;
}

.main-article-h {
	text-indent: 1rem;
	margin: 0;
	padding: 10px 0;
}	
.main-article-notice {
	margin-right: 5px;
}
.main-article-table-box {
	text-indent: 1rem;
	width: 49.999%; 
	height:350px; 
	border:2px solid #168; 	
	overflow: auto;
}
.main-article-table-box > table {
	border-collapse: collapse;
	border-top: 3px solid #4BAF4B;
	width: 100%;
	min-width: 500px;
	text-align: center;
}
.main-article-table-box tr {
	height: 50px;
	font-size: 1rem;
	border: 0.5px solid #4BAF4B;
}

.main-article-table-box td {
	border: 0.5px solid #4BAF4B;
}

.main-article-table-box td > a {
	width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 20px;
	display:block;
}

.main-article-table-box td > .tdaf {
	width: 180px;
}

.main-article-table-box > table th {
	color: black;
	background: #f0f6f9;
	margin: 10px 0px;
	width: 33.3333%;
	font-size: 1.3rem;
	border: 0.5px solid #4BAF4B;
}

/* organWrite (기관 등록) */
.organWrite-form-box > .table-box input {
	width: 300px;
}

/* write (게시물 작성) */
.write-table-box, .modify-table-box {
	background-color: #4BAF4B; 
	color:white; 
	margin-bottom: 20px;
	width: 100%;
	padding: 10px 0;
}
.write-table-box td, .modify-table-box td {
	padding: 10px 0;
	text-indent: 1rem;
	width: 90%;
}
.write-table-box input, .modify-table-box input {
	width: 98%;
	padding: 10px 0;	
	text-indent: 1rem;
}
.write-table-box .toast-editor, .modify-table-box .toast-editor {
	background-color: white;
	width: 98%;
}

.write-table-box .form-control, .modify-table-box .form-control {
	text-indent: 0;
}

/* list */
.article-table-box, .article-detail-box {
	margin-bottom: 10px;
	display: block;
	overflow-x: auto;
	width: 100%;
}

.article-table-box > table, .article-detail-box > table {
	border-collapse: collapse;
	border-top: 3px solid #4BAF4B;
	width: 100%;
	min-width: 500px;
	text-align: center;
}

.article-table-box tr, .article-detail-box tr {
	height: 50px;
	font-size: 1.2rem;
	border: 0.5px solid #4BAF4B;
}

.article-table-box td {
	border: 0.5px solid #4BAF4B;
}

.article-table-box > table th, .article-detail-box > table th {
	color: black;
	background: #f0f6f9;
	margin: 10px 0px;
	width: 33.3333%;
	font-size: 1.3rem;
	border: 0.5px solid #4BAF4B;
}

/* detail */
.article-detail-box .toast-editor-box {
	overflow: auto;
	width: 100%;
}

.article-detail-box .toast-editor-box >.toast-editor {
	margin: auto;
	border-collapse: collapse;
	display: block;
	width: 100%;
	height: 400px;
}
