@charset "UTF-8";

/* 폰트적용 */
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

@import
	url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

html {
	font-family: "Roboto", "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body, ul, li, h1 {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

label[for] {
	cursor: pointer;
	user-select: none;
}

/* 라이브러리 */
.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.text-align-center {
	text-align:center;
}

/* PC/모바일 사이즈 관련 if 문 설정 */
@media ( min-width : 800px) {
	.visible-on-sm-down {
		display: none;
	}
}

@media ( max-width : 799px) {
	.visible-on-md-up {
		display: none;
	}
}

.con {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-top-30 {
	margin-top: 30px;
}

.padding-0-10 {
	padding-left: 10px;
	padding-right: 10px;
}

.padding-0-20 {
	padding-left: 20px;
	padding-right: 20px;
}

.padding-10-0 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.padding-20-0 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.bg-white {
	background-color:white;
}

.padding-10 {
	padding:10px;
}

/* 라이브러리 - flex */
*>.flex {
	display: flex;
}

*>.flex-column-nowrap {
	display: flex;
	flex-flow: column nowrap;
}

*>.flex-grow-1 {
	flex-grow: 1;
}

*>.flex-jc-end {
	display: flex;
	justify-content: flex-end;
}

*>.flex-jc-c {
	display: flex;
	justify-content: center;
}

*>.flex-ai-c {
	display: flex;
	align-items: center;
}

*>.flex-row-nowrap {
	flex-direction: row;
	flex-wrap: nowrap;
}

*>.flex-ch-basis-0 {
	display: flex;
}

.flex-ch-basis-0>* {
	flex-basis: 0;
}

*>.flex-1-0-0 {
	flex: 1 0 0;
}

*>.flex-0-0-1 {
	flex: 0 0 1;
}

.page-title-box {
	margin-top: 30px;
	margin-bottom: 30px;
} 

.btn {
	font-size: 1rem;
	line-height: 1rem;
	padding: 10px 15px 7px 15px;
	display: inline-flex;
	font-weight: bold;
	border-radius: 10px;
	outline: 0;
	border: 0;
	cursor: pointer;
	background-color: #3D94F6;
	color: #FFFFFF;
	text-shadow: 1px 1px 20px #000000;
	text-decoration: none;
	margin-right: 10px;
}

.table-box th, .table-box input {
	padding: 10px;
}

.table-box td {
	padding: 10px;
}

.outer-box {
	padding-bottom: 30px;
}
body {
	margin-bottom: 20px;
}
/* 기본 CSS 끝 */

/* head */
.header-top-box {
	background-color: #4BAF4B;
	color: white;
}

.header-top-box>.header-top > ul > li > a {
	padding: 50px 20px;
	font-size: 1.5rem;
	white-space:nowrap;
	text-align:center;
}

.header-top-box>.header-top > ul > li:hover > a {
	color: black;
}

h1, h2 {
	margin-bottom: 20px;
}

/* join */
.join-form-box > .table-box {
	background-color: #4BAF4B; 
	color:white; 
	width: 500px; 
	padding: 20px;
}
/* login */
.login-form-box > .table-box {
	background-color: #4BAF4B; 
	color:white; 
	width: 500px; 
	padding: 20px;
}